.gallery {
  max-width: 1440px;
  padding: 30px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.gallery-img {
  width: 360px;
  height: 300px;
}
