.widget * {
  margin: 0;
  padding: 0;
}

body > p {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  background-color: #fafafa;
}

.widget {
  max-width: 400px;
  margin: auto;
  padding: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: #f5f5f5;
  border: 1px solid #212121;
  border-radius: 5px;
}
.change-color {
  border: none;
  margin-top: 18px;
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
}
